.animal {
  width: 24.5%;
  border: 2px solid pink;
  display: inline-block;
}

.animal p {
  display: inline-block;
  font-family: 'cursive','roboto','serif';
}

.animal img {
  width: 100%;
  border-radius: 15px;
}

header {
  width: 100%;
  background: yellow;

}

h6 {
  display: inline-block;
  color: #FFF;
  font-size: 1em;
}

input {
  float: right;
}
