h4 {
  font-size: 30px;
  margin: 0;
  display: inline-block;
  padding: 10px;
}

.red {
  color: red;
}

#navbar {
  width: 100%;
  background-color: #a33dac;
  border: 3px solid red;
}

#navbar ul {
  display: inline-block;
  margin-left: 60%;
}

#navbar li {
  display: inline-block;
  padding: 0 20px;
}

#navbar li:hover {
  font-size: 50px;
  color: blue;
}

.sidebar {
  width: 20%;
  display: inline-block;
  background-color: skyblue;
}

.sidebar img {
  margin-top: 20px;
  margin-left: 40px;
  border-radius: 100%;
}

.sidebar p {
  padding: 20px;
  font-family: cursive;
}

.sidebar p span {
  font-family: fantasy sans-serif;
  color: green;
  font-size: 20px;
}

.main-content {
  width: 75%;
  display: inline-block;
  vertical-align: top;
  text-align: center;
}

.main-content .section {
  width: 48%;
  display: inline-block;
}
