<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>JQBlog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="main.css" media="screen" title="no title" charset="utf-8">
    <!-- <script type="text/template" id="postTmpl">
      <ul>
        <li><h3> Title: <%= title %></h3></li>
        <li><p><%= body %></p></li>
        <li><h6> <%= author %></h6></li>
      </ul>
    </script> -->
  </head>
  <body>

    <header>
      <nav>
        <h4>Awesome jQuery Blog</h4>
        <ul>
          <li class="authors">Authors</li>
          <li>Contact</li>
        </ul>
      </nav>
    </header>
    <div id="blogs">
      <section>

      </section>

      <aside class="add-post">
        <form class="">
          <input type="text" name="title" placeholder="Post Title">
          <textarea name="name" rows="8" cols="40" placeholder="Write your post"></textarea>
          <input type="text" name="author" placeholder="Author">
          <input type="submit" name="Submit">
        </form>
        <div class="search">
          <input type="text" name="name" value="" placeholder="Search by Tags">
        </div>
      </aside>

    </div>

    <div id="authors-page" class='dont-show-me'>

    </div>

    <footer>

    </footer>



    <script src="bower_components/underscore/underscore.js" charset="utf-8"></script>
    <script src="bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="blog-post.js" charset="utf-8"></script>
    <script src="authors.js" charset="utf-8"></script>
    <script src="templates.js" charset="utf-8"></script>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
