body {
  background-color: pink;
  margin: 0;
}

header {
  width: 100%;
  background-color: lightblue;
  color: white;
}

header h4 {
  position: relative;
  top: 24px;
  margin: 0;
  display: inline-block;
  margin-left: 3%;
}

header ul {
  display: inline-block;
  margin-left: 80%;
  position: relative;
  bottom: 9px;
}

header ul li {
  display: inline-block;
  color: white;
}

header ul li:hover {
  text-decoration: underline;
  font-size: 1.15em;
}

section {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  background-color: pink;
  padding-top: 1%;
}

section ul {
  background-color: #fff;
  border: 1px solid lightblue;
  margin: 1%;
}

section ul li:first-child {
  list-style-type: none;
  text-align: center;
}

section ul li {
  list-style-type: none;
  color: lightblue;
}

section ul li h3 {
  font-size: 2em;
}

section ul li h3 {
  display: inline-block;
}

aside {
  padding-top: 2%;
  width: 29%;
  display: inline-block;
  margin: 0 auto;
}

aside input[type="text"] {
  width: 100%;
  height: 25px;
  position: relative;
  bottom: 5px;
}

aside input[type="submit"] {
  display: block;
  width: 40%;
  background-color: lightblue;
  color: #fff;
  font-size: 2em;
  margin-left: 30%;
}

aside textarea {
  width: 100%;
  margin: 13px 0;
}

.show-me {
  display: block;
}

.dont-show-me {
  display: none;
}

#about-page {
  background-color: white;
  text-align: center;
}
