<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script type="mahTemplates/html" id="bios">
      <h2><%= name %></h2>
      <p>BIO: <%= bio %></p>
    </script>

  </head>
  <body>
    
    <script src="bower_components/jquery/dist/jquery.js" charset="utf-8"></script>
    <script src="bower_components/underscore/underscore.js" charset="utf-8"></script>
    <script src="data.js" charset="utf-8"></script>
    <script src="templates.js" charset="utf-8"></script>
    <script src="main.js" charset="utf-8"></script>
  </body>
</html>
