@media (min-width: 761px) and (max-width: 1024px) {
  #title {
    top: -365px;
    left: 10%;
  }

  header {
    background-size: cover;
    background-position: center;
  }

  aside {
    width: 40%;
    min-height: 1475px;
    .bio-text {
      font-size: 1.5em;
    }
  }
  section.main-content {
    width: 58.5%;
    .col-2 {
      width: 100%;
    }

  }
}
