header {
  width: 100%;
  background-image: url("../images/woody1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  background-position-y: -214px; }

#title {
  margin: 0;
  font-size: 8em;
  color: #FFF;
  position: relative;
  top: -325px;
  left: 20%; }

#title span {
  font-weight: 100; }

div.overlay {
  background-color: #549431;
  height: 450px;
  opacity: 0.2; }

h5.photo-title {
  padding-left: 47%; }

footer {
  margin: 0;
  vertical-align: middle;
  display: inline-block;
  width: 100%;
  background-color: #214E09;
  color: #FFF; }

footer .foot-img, footer .foot-text {
  width: 20%;
  display: inline-block;
  height: 100px; }

footer p {
  display: inline-block; }

footer img {
  position: relative;
  border: 0;
  left: 16px;
  top: 7px; }

aside {
  width: 30%;
  display: inline-block;
  vertical-align: top;
  background-color: #25705A;
  border-right: 3px solid #073B2B;
  border-bottom: 3px solid #073B2B;
  min-height: 1000px; }

aside .bio-image, aside .bio-text {
  width: 80%;
  margin: 0 auto; }

aside .bio-image img {
  width: 100%;
  border-radius: 100%;
  margin-top: 5%; }

section.main-content {
  margin-left: -4px;
  background-color: #D7EF83;
  display: inline-block;
  width: 69.4%;
  border: 3px solid #073B2B;
  min-height: 996px; }

section .woody-back {
  background-image: url("../images/woody5.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-size: 200%;
  background-position-y: 41%;
  background-position-x: 74%; }

section .col-2 {
  display: inline-block;
  width: 49%; }

section .col-2 img {
  width: 100%;
  height: 300px; }

@media (min-width: 0px) and (max-width: 760px) {
  header {
    background-position-y: 0;
    background-position-x: -100px;
    background-size: auto; }
  #title {
    font-size: 2em;
    position: relative;
    top: -412px;
    left: 12px; }
  aside {
    display: inline-block;
    width: 100%;
    min-height: 0px;
    border: 3px solid #073B2B; }
  aside .bio-image {
    display: none; }
  section.main-content {
    width: 100%; }
  section.main-content .col-2 {
    width: 100%; }
  footer .foot-img {
    margin-right: 10%; } }

@media (min-width: 761px) and (max-width: 1024px) {
  #title {
    top: -365px;
    left: 10%; }
  header {
    background-size: cover;
    background-position: center; }
  aside {
    width: 40%;
    min-height: 1475px; }
  aside .bio-text {
    font-size: 1.5em; }
  section.main-content {
    width: 58.5%; }
  section.main-content .col-2 {
    width: 100%; } }

* {
  font-family: 'Oswald', helvetica, sans-serif; }
